<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket <%= singleTicket.getId() %></title>
</head>
<body>
    <h2>ID: <%= singleTicket.getId() %> </h2>
    <h2>Subject: <%= singleTicket.getSubject() %> </h2>
    <h2>Type: <%= singleTicket.getDate() %> </h2>
    <div>
        <h3>Description:</h2>
        <p><%= singleTicket.getDescription() %></p>
    </div>

    <A href="http://localhost:<%= PORT %>/tickets/1">Go Back to Viewer</A>
    
</body>
</html>